<div class="container">
	<div class="row-fluid">
		<div class="span12 center">
			<h1>Color Match</h1>
			<p>Create your own custom color match based on HEX</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12 center">
			<input type="text" class="main-color" placeholder="#hex" ng-change="getColors()" ng-model="color">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4">
			<h2 class="center">Accents</h2>
			<div><i class="icon-long-arrow-right"></i></div>
			<div class="row-fluid">
					<div class="span6">
						<div class="box" style="background-color: #{{ colors.accents[1] }}"></div>
					</div>
					<div class="span6">
						<div class="box" style="background-color: #{{ colors.accents[2] }}"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<h2 class="center">Complements</h2>
			<div><i class="icon-long-arrow-right"></i></div>
			<div class="row-fluid">
				<div class="span12">
					<div class="span12">
						<div class="box" style="background-color: #{{ colors.complements[0] }}"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<h2 class="center">Neutrals</h2>
			<div><i class="icon-long-arrow-right"></i></div>
			<div class="row-fluid">
				<div class="span12">
					<div class="span4">
						<div class="box"></div>
					</div>
					<div class="span4">
						<div class="box"></div>
					</div>
					<div class="span4">
						<div class="box"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

